<div class="row">
    <div class="col-xl-12 col-md-12 col-sm-12">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Product Code</th>
                    <th scope="col">Brand</th>
                    <th scope="col">Category</th>
                    <th scope="col">Sku</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <!-- <tbody>
                <tr *ngFor="let row of rowData; index as i">
                    <td>
                        {{ row.productCode }}
                    </td>
                    <td>{{ row.brand }}</td>
                    <td>{{ row.category }}</td>
                    <td>{{ row.skuName }}</td>

                    <td>
                        <fa-icon [icon]="faPencilAlt" (click)="editProduct(row)" role='button'></fa-icon>
                    </td>
                </tr>
            </tbody> -->
        </table>
    </div>
</div>